<!DOCTYPE html>

	<head>
		<meta charset="UTF-8">
	</head>	
	
	<body>

		<div class= "section image f1">
			<div class="content">
					<img src="/assets/austin.png"/>
			</div>
		</div>


		<div class = "section writing" id="occ">
			<div class="content">
				<h3>Occassions</h3>
				<div class="circle" id="circle1"><h1><%= link_to "Anniversary", anniversary_path %></h1></div>
				<div class="circle" id="circle2"><h1><%= link_to "Funeral", funeral_path %></h1></div>
			</div>
		</div>



		<div class="section image f2">
			<div class="content">
				<h1>Exquisite, fresh bouquets arranged every day </h1>
			</div>
		</div>

		<div class="section writing" id="about">
			<div class="content">
				<h3>About</h3>
				<p>Austin Flowers is a new flower company based at Mayer Square in the heart of Dublin city centre. Our company was borne out of two projects which we were required course work at the National College of Ireland for both a module in Web Design, and also another one in Sever Side Webtechnologies.</p>

				<p>Even though Austin Flowers was founded in order to fulfil course work requirements, the course also fulfills our teams love of both flowers, and also hilarious and completely original puns. By combining they two of these we know that we can deliver professional and afordable flowers straight to your front door. </p> 

				<p>At Austin Flowers we specialise in a number of key flower areas. This is mainly bouquests. We provide a number of different bouquet options. The first of which is bouquets for Funeral, and Anniversary events. Secondly we have premade bouquests for when you're not quite sure what you're after. Lastly create your own bouquet with our custom bouquet feature. </p>

			</div>
		</div>

		<div class="section image f3">
			<div class="content">
				<h1>Get creative and arrange your own bouquet, unique to you</h1>
			</div>
		</div>

		<div class="section writing" id="contact">
			<div class="content">
				<h3>Contact</h3>
				<p>Austin Flowers is located at No. 1 Mayer Square, Dublin 1. We're open 9-5 Monday to Friday. Call us on 01 2232445, or send us a message on Facebook or Twitter (which you'll find at the bottom of the page).</p>

				<p>Can't find what you're looking for? Don't worry we are here to help. Give us a call on 01 2232445, or drop us a message via Facebook or Twitter. We are always looking to hear what you have to say, and are interested in any ways you feel we could improve our site.</p>
			</div>
		</div>

</body>

