<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Terms and Conditions</title>
    <!-- These terms and conditions have been taken from flowers.ie and are used for the sole purpose of a webdesign project for the NCI courses of Server Side, and Web Design. They are not for commercial use, and they also only show a sample of information for the purposes of HTML education. -->
  </head>
  <body>
  
	<h1><strong>Terms and Conditions of Use of Website</strong></h1>
		<p>Access to this Website and the use of information on it is subject to these Terms and Conditions of Use. You should carefully read these Terms and Conditions of Use. By proceeding further, you will be deemed to have accepted them.</p>
	
	<h2><strong>Definitions</strong></h2>
		<p>In these Terms and Conditions of Use, the following terms shall have the meanings indicated:
			<ul>
				<li>  "Terms and Conditions of Use" - means the terms and conditions of use of this Website herein contained;</li>

				<li>  "Website" mean this website, being a website accessible at or via any or all of the following internet addresses:</li>

				<li> "Privacy Policy" means our statement of practice as regards the privacy and security of your information when accessing and/or using this Website and any of the features hereon (you can read a copy of the Privacy Policy by clicking here)</li>
				
				<li>  "you" means any and all persons accessing or using this Website and/or availing of any information and/or services available on or via this Website;</li>

				<li>  "we" and "our" and "us" means this company and owner of the website.</li>
			</ul>

	<h2><strong>Governing Law and Jurisdiction</strong></h2>
		<p>Information appearing on this Website is provided in accordance with and subject to the laws of Ireland and the laws of Ireland govern the conduct and operation of this website. The courts of Ireland have exclusive jurisdiction over all claims or disputes arising in relation to, out of, or in connection with these Terms and Conditions of Use, the information contained on this Website, and any use made of that information. Any such claims or disputes shall be resolved in accordance with the laws of Ireland.</p>

	<h2><strong>Disclaimer as to accuracy of information</strong></h2>
		<p>Care has been taken in the preparation of the information contained on this Website. However, we do not make any representations or warranties as to the accuracy of the information contained on this Website.</p>

	<h2><strong>Prohibited use of Website</strong></h2>
		<p>The information on this Website is not intended to be provided to and should not be used in any State or jurisdiction of any nature in which access to or use of such information is prohibited, whether in the format in which it is presented on this Website or otherwise. If you have any doubts about the legality of your using this Website, you should not continue any further.</p>

	<h2><strong>Amendments</strong></h2>
		<p>The contents of this Website, including these Terms and Conditions of Use, any information contained on this Website and our Privacy Policy are subject to change and to being updated without notice from time to time.</p>

	<h2><strong>Hypertext links</strong></h2>
		<ul>
			<li>This Website contains hypertext links to websites not maintained by us or any member of our company. We do not endorse or represents the reliability, accuracy, or quality of any information, goods, services, or products displayed or advertised on such other websites. No member of our company is or shall be (or be deemed to be) a party to any contract that you may or do enter into with the providers of such goods, services or products. You are reminded that different terms and conditions of use will apply to you as a user of such websites. We hereby disclaims any and all liability for the content of such websites and any loss or damage of any nature suffered by you as a result either: (a) of accessing or using such websites; or (b) availing of or acquiring any or all of the goods, services or products advertised or available on or via such websites. The use by you of such websites is at your sole risk.</li>

			<li>This Website contains hypertext links to websites maintained by us. You are reminded that different terms and conditions of use may apply to you as a user of such websites.</li>

			<li>No third party is permitted to create a link from another website to this Website without our prior written consent.</li>
		</ul>
		
	<h2><strong>Security</strong></h2>
		<p>A number of organisations and their customers have recently been the target of hoax e-mails that are aimed at gathering Internet/account details of the customers. Some of these hoax e-mails have encouraged or facilitated contact with hoax websites that purport to be (but are not) the website of the relevant banking organisation. To date the occurrence of such online fraud has not been extensive. However, we would always advise you to be cautious as regards disclosing your personal details. In particular, you should note that we will only ever request your personal details if: (i) you are seeking to initiate an order via this Website; or (ii) you initiate a request for a particular service via this Website, and we require certain of your personal details to provide you with the requested service.</p>

		<p>We are committed to ensuring the privacy of your information and seeking to attain the highest standards of security at all times. However, you should note that messages and information passing over the Internet may not be free from interference by third parties and should be independently verified. You should never disclose data over the Internet unless you have satisfied yourself as to the security of the related technology/encryption.</p>

		<p>Whilst we invest in the best technology, please note that we cannot guarantee the privacy or confidentiality of information relating to you that passes over the Internet. In accessing this Website and in availing of any of the services/information available on or via this Website, you are deemed by these Terms and Conditions of Use to accept that electronic mail messaging and Internet communication may not be free from interference by third parties and may not remain confidential.</p>

		<p>In all circumstances the use by you of this Website is at your sole risk.</p>
			
	<h2><strong>Privacy Policy</strong></h2>
		<p>We will use your personal data in the manner set out in its Privacy Policy. However, in the event of a conflict between the Privacy Policy and these Terms and Conditions of Use, the Terms and Conditions of Use shall prevail.</p>

	<h2><strong>General disclaimer of liability</strong></h2>
		
	No member of our company (or any other person involved with the provision and maintenance of this Website) takes any responsibility for the accuracy of the information provided on this Website. Use of such information is at the user's sole risk. No member of our company accepts any liability for any loss or damage of any nature, including but not limited to loss of profits, goodwill, or any other type of financial or other pecuniary or direct or special indirect or consequential loss howsoever arising whether in negligence or for breach of contract or other duty as a result of:


	<h2><strong>Privacy Policy</strong></h2>
	<strong>General</strong>
		<p>We are committed to ensuring the privacy of your information.</p>

		<p>We understand that as a customer or visitor using the Website, the privacy and the security of your information is very important to you. The purpose of our Privacy Policy is to outline our practices in this area.</p>

		<p>PLEASE NOTE that this Privacy Policy is subject to the Terms and Conditions of Use of the Website.</p>


		<p>We recommend that you read the Terms and Conditions of Use. If there is a conflict between the Terms and Conditions of Use and this Privacy Policy, the Terms and Conditions of Use shall prevail. Except as otherwise provided, terms used herein and defined in the Terms and Conditions of Use shall have the same meaning that is given to them in the Terms and Conditions of Use.</p>

		<p>The contents of this Privacy Policy are subject to change and to being updated without notice from time to time.</p>
		<p>The Information We Collect</p>
		<p>As you browse through our Website, our web server collects information about your visit, not about you personally. We gather and monitor statistics such as, for example:</p>
			<ul>
				<li>The number of people who visit the Website;</li>
				<li>The date and time of visits;</li>
				<li>The number of pages viewed;</li>
				<li>The amount of time spent on the Website;</li>
				<li>The most popular sections of the Website</li>
			</ul>
		<p>This information is anonymous and no attempt is or will be made to identify visitors. So, for example, on a specific day we can identify that our site has a thousand visitors. However, we know nothing about these visitors in terms of e-mail addresses or any other personal information.</p>

		<p>We only ask and will only ask for personal information from which you can be identified where the information is required for particular purposes e.g. applying online for an account. Examples of details that may be sought include your name, address, e-mail address, etc. (Please note in the regard the paragraph headed Internet fraud below)</p>

		<p>All information provided to us by you will be treated with the utmost confidentiality in accordance with all applicable legislative and regulatory standards. If you ever decide that you no longer wish us to keep or use information or you want the information to be revised or updated, please feel free to contact us. We will remove or amend the information as appropriate in accordance with applicable legislative and regulatory requirements.</p>

	<h2><strong>Use of 'Cookies'</strong></h2>
		<p>This Website does use cookies. This is to ensure that only the pc that you used to access our site may be used to complete a transaction.</p>

		<p>(A cookie is a small piece of information that a website stores through your web browser on your PC that it can later retrieve when you log back onto that website. This means that the site will remember your preferences. Its particularly useful if you begin a transaction but are unable to complete till later, maybe because you are missing some detail or because you wish to consider a choice available before committing to the transaction).</p>

	<h2><strong>Disclosure of Information</strong></h2>
		<p>We will not divulge customer information to a third party unless we have received customer authorisation OR we are required to do so by law.</p>

	<h2><strong>Security of Information</strong></h2>
		<p>We understand how important the security and confidentiality of your information is to you. Keeping customer information secure is a top priority for us. Our goal is to protect your information on the Internet in the same way as we would over the phone or in a branch.</p>

		<p>Even so, we cannot guarantee the privacy or confidentiality of information relating to you passing over the Internet. In accessing this Website and in availing of any of the services/information available on or via this Website, you accept and are deemed to accept that electronic mail messaging and Internet communication may not be free from interference by third parties and may not remain confidential. The use by you of this Website is at your sole risk.</p>
	
	<h2><strong>Internet Fraud</strong></h2>
		<p>A number of organisations and their customers have recently been the target of hoax e-mails that are aimed at gathering Internet/account details of the customers. Some of these hoax e-mails have encouraged or facilitated contact with hoax websites that purport to be (but are not) the website of the relevant organisation. To date the occurrence of such online fraud has not been extensive. However, we would always advise you to be cautious as regards disclosing your personal details. In particular, you should note that we will only ever request your personal details if: (i) you are seeking to initiate an online order with us via this Website; or (ii) you initiate a request for a particular service via this Website and we require certain of your personal details to provide you with the requested service or the requested service is a credit card transaction or if the request for information in any way relates to a transaction where you have completed an order form and submitted detail we believe to be erroneous.</p>

	<h2><strong>Hyperlinks</strong></h2>
		<p>Some of the pages on this Website contain hypertext links to websites not maintained by us. You are reminded that different terms and conditions of use will apply to you as a user of such websites. In addition such websites may not attain the same privacy standards that we maintain.</p>

	<h2><strong>No liability</strong></h2>
		<p>No member of our company or any of its agents or employees accepts any liability for any loss or damage of any nature, including but not limited to loss of profits, goodwill, or any other type of financial or other pecuniary or direct or special indirect or consequential loss howsoever arising whether in negligence or for breach of contract or other duty, arising out of or in relation to the use and/or dissemination of personal information relating to you where such use and/or dissemination of information is done in accordance with this Privacy Policy and the Terms and Conditions of Use (in the event of conflict the Terms and Conditions of Use shall prevail).</p>

	<h2><strong>Returns &amp; Refunds Policy</strong></h2>
	<h2><strong>Guarantee of Satisfaction</strong></h2>
		<p>We offer a <strong><em>no quibble </em></strong>guarantee in regard to the quality of our products. To avail of this guarantee we must be advised within 3 days of delivery. We guarantee to replace defective items immediately with the same product or an alternative product (of equal or greater value) and to your satisfaction.</p>

		<p>Note; We guarantee fresh flowers to last for a minimum of 5 days, provided the care instructions sent with your flowers have been followed. In the unlikely event that your flowers do not last a minimum of 5 days we undertake to replace the flowers contained in your purchase with fresh flowers or an alternative product (of equal or greater value) and to your satisfaction.</p>

		<p>We must be informed within 3 days of delivery and the original flowers must be made available for return.</p>
		<p>To advise us of failure of flowers to last the guaranteed 5 days, please contact us. You should quote your Order Number (not your customer code) and your Name and the email address used to place the original order.</p>

	<h2><strong>Non Floral Product</strong></h2>
		<p>In the event of that a non-floral product is found to be defective we guarantee to replace the item with the same item or an item of (of equal or greater value) and to your satisfaction.</p>
		<p>Nothing contained herein will affect your statuary rights.</p>

	<h2><strong>Not Satisfied With Product Delivered</strong></h2>
		<p>If for any reason you or your intended recipients are unhappy with your purchase, you must advise us within 3 days of the date the item was delivered, and we will replace the item or issue a full refund for the price you paid for the item. In some instances the delivery charge may not be refunded (Read our complete Returns Policy).</p>
		<p>Please note that we cannot accept returns that are notified after 3 days.</p>
		<p>You can expect a refund in the same form of payment originally used for purchase within one week of our receiving your return.</p>

		<p>To advise us of your complaint, please contact us. You should quote your Order Number (not your customer code) and your Name and the email address used to place the original order.</p>
	<h2><strong>Order not Delivered or Delivered on Wrong Day</strong></h2>
		<p><strong>Note: </strong>Our normal delivery charge does not guarantee a time of delivery. We do offer a premium delivery service, in some circumstances. It is your responsibility to ensure you have 'added' this feature to your order to ensure provision of that service. The timed options are not available in all circumstances. Where you have elected to purchase premium delivery and the service is unavailable we undertake to refund (or to not charge) the relevant portion of the fee.</p>

	<h2><strong>Non Delivery</strong></h2>
		<p>In the unlikely event that your order is not delivered as requested, and provided such failure is not as a consequence of failure on your part to provide accurate information to enable delivery you must advise us as soon as you become aware of this, but not later than 90 days after the originally specified delivery date.</p>

		<p>To advise us of non-delivery, please contact us. You should quote your Order Number (not your customer code) and your Name and the email address that you used to place your order. We undertake to respond to your complaint in as short a time frame as possible, but not later than 3 working days.</p>

		<p>If delivery has not taken place we undertake to complete the delivery to your satisfaction immediately <strong>Or</strong></p>
		<p>Refund your money in full.</p>
		<p>Note: In some instances the delivery charge may not be refunded (Read our complete Returns Policy)</p>
		<p>You can expect a refund in the same form of payment originally used for purchase within one week of our receiving your return.</p>

		<p>We regret that we cannot accept complaints of non-delivery made after 90 days.</p>
		<p>In such event no refund is possible.</p>

	<h2><strong>Delivery Charges</strong></h2>
		<p>Where we are unable to complete a delivery, because of any inadequacy in the information provided for delivery purposes or where the recipient was unavailable to accept delivery, the delivery charge portion of an order may not be refunded. If this is the case you will be advised of this.</p>

		<p>Where more than one attempt to complete delivery is necessary, because of any inadequacy in the information provided for delivery purposes or where the recipient was unavailable to accept delivery, the delivery charge portion of an order may be charged again, using the payment details provided with your original order. A notification of the charges will be sent by email to the email address provided as part of the order process.</p>
 </body>
</html>
