<div class = "history">
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h2>Shopping Cart</h2>
<br>
<ul id ="cart">
    <% @cart.order_items.each do |item| %>
        <li><b><%= item.product.name %></b></li>
        <li id="price"><%= number_to_currency(item.product.price, :unit => '€') %></li>
    <% end %>
</ul>
</div>