
	<div class="purchase">
	
		<ul>
			<li><img id="d11" src="/assets/flow1.jpg" width="150" height="250">
			<div class="contenthover">
				<img src="/assets/austinflowerslogo.png" style='border:0' height="70" width="110">
				<h3><b>18 grand prix rose handtied</b></h3>
				<p><a id = "readmore1" href="#" class="mybutton">Read more.....</a></p>
			</div>
			<br>
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="GM9THPLMWCJL8">
				<input type="image" src="/assets/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</li>
			
			
			<li><img id="d12" src="/assets/flow2.jpg" alt="Smiley face" height="250" width="150">
			<div class="contenthover">
				<img src="/assets/austinflowerslogo.png" style='border:0' height="70" width="110">
				<h3><b>50 rose handtied</b></h3>
				<p><a id = "readmore2" href="#" class="mybutton">Read more.....</a></p>
			</div>
			<br>
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="ALVDWXTNZZTBW">
				<input type="image" src="/assets/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>
			</li>
			
			
			<li><img id="d13" src="/assets/flow3.jpg" width="150" height="250">
			<div class="contenthover">
				<img src="/assets/austinflowerslogo.png" style='border:0' height="70" width="110">
				<h3><b>Majestic handtied flowers</b></h3>
				<p><a id = "readmore3" href="#" class="mybutton">Read more.....</a></p>
			</div>
			<br>
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="BY49SUW9ZY5H4">
				<input type="image" src="/assets/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>
			</li>
			
			
			<li><img id="d14" src="/assets/flow4.jpg" alt="Smiley face" height="250" width="150">
			<div class="contenthover">
				<img src="/assets/austinflowerslogo.png" style='border:0' height="70" width="110">
				<h3><b>Mixed heavenly rose handtied</b></h3>
				<p><a id = "readmore4" href="#" class="mybutton">Read more.....</a></p>
			</div>
			<br>
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="RJS4GC3Q6VM8S">
				<input type="image" src="/assets/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>
			</li>
		</ul>
	</div>
	
	<!--Pop up for individual flowers-->
	<div id="words1" class="modal">
		<a class="close" href="#">Close</a>
		<img class="inset" src="/assets/ann5.jpg">
	
		<h2>18 grand prix rose handtied</h2>
		<p><i>
			These Grand Prix roses are the ultimate in quality and style 
			with their velvety petals, long, elegant stems and the deepest, 
			dramatic shade of red. This is a statement bouquet – the perfect 
			choice if you’re keen to make a lasting impression.
		</i></p>
		
		<p>Price: €89.99</p>
		<div class="line">	
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="GM9THPLMWCJL8">
				<input type="image" src="/assets/addtocart-green-4.png" ;style='border:0' "float:left;" alt="Smiley face" height="60" width="110">
			</form>
		</div>
	</div>
	
	<div id="words2" class="modal">
		<a class="close" href="#">Close</a>
		<img class="inset" src="/assets/ann7.jpg">
	
		<h2>50 rose handtied</h2>
		<p><i>
			These fifty irresistible large-headed red Roses are the 
			absolute essence of a grand romantic gesture.  Arranged 
			by hand and finished with sumptuous gift wrapping and 
			luxurious organza ribbon, this exquisite display is the 
			perfect way to send your love to someone special.
		</i></p>
		<p>Price: €79.99</p>
		<div class="line">	
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="ALVDWXTNZZTBW">
				<input type="image" src="/assets/addtocart-green-4.png" ;style='border:0' "float:left;" alt="Smiley face" height="60" width="110"/>
			</form>
		</div>
	</div>
	
	<div id="words3" class="modal">
		<a class="close" href="#">Close</a>
		<img class="inset" src="/assets/ann9.jpg">
	
		<h2>Majestic handtied flowers</h2>
		<p><i>
			This is an exquisite bouquet that is guaranteed to make 
			someone feel very special. We’ve chosen the finest large-headed 
			Grand Prix roses to take centre stage and set them against deep 
			red germinis and fresh green carnations to create a breathtaking gift.
		</i></p>
		
		<p>Price: €56.99</p>
		<div class="line">	
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="BY49SUW9ZY5H4">
				<input type="image" src="/assets/addtocart-green-4.png" ;style='border:0' "float:left;" alt="Smiley face" height="60" width="110">
			</form>
		</div>
	</div>
	
	<div id="words4" class="modal">
		<a class="close" href="#">Close</a>
		<img class="inset" src="/assets/ann8.jpg">
	
		<h2>Mixed heavenly rose handtied</h2>
		<p><i>
			Sending a a bouquet of beautiful roses says it all. 
			And you can relax in the knowledge that your Interflora 
			florist will select the finest, large-headed mixed roses to 
			create a hand-tied bouquet guaranteed to take their breath away. 
		</i></p>
		
		<p>Price: €57.99</p>
		<div class="line">	
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="RJS4GC3Q6VM8S">
				<input type="image" src="/assets/addtocart-green-4.png" ;style='border:0' "float:left;" alt="Smiley face" height="60" width="110">
			</form>
		</div>
	</div>
	
	<div class="purchase">
		<ul>
			<li><img id="d15" src="/assets/flow5.jpg" width="150" height="250">
			<div class="contenthover">
				<img src="/assets/austinflowerslogo.png" style='border:0' height="70" width="110">
				<h3><b>Red heavenly rose handtied</b></h3>
				<p><a id = "readmore5" href="#" class="mybutton">Read more.....</a></p>
			</div>
			<br>
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="8YF966Z9YPNX4">
				<input type="image" src="/assets/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>
			</li>
			
			
			<li><img id="d16" src="/assets/flow6.jpg" alt="Smiley face" height="250" width="150">
			<div class="contenthover">
				<img src="/assets/austinflowerslogo.png" style='border:0' height="70" width="110">
				<h3><b>Six stolen kisses pink</b></h3>
				<p><a id = "readmore6" href="#" class="mybutton">Read more.....</a></p>
			</div>
			<br>
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="PY2TXHD69YYY6">
				<input type="image" src="/assets/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>
			</li>
			
			
			<li><img id="d17" src="/assets/flow7.jpg" width="150" height="250">
			<div class="contenthover">
				<img src="/assets/austinflowerslogo.png" style='border:0' height="70" width="110">
				<h3><b>Six stolen kisses pink and red</b></h3>
				<p><a id = "readmore7" href="#" class="mybutton">Read more.....</a></p>
			</div>
			<br>
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="MREXLR65XUX4G">
				<input type="image" src="/assets/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>
			</li>
			
			
			<li><img id="d18" src="/assets/flow8.jpg" alt="Smiley face" height="250" width="150">
			<div class="contenthover">
				<img src="/assets/austinflowerslogo.png" style='border:0' height="70" width="110">
				<h3><b>Six stolen kisses white</b></h3>
				<p><a id = "readmore8" href="#" class="mybutton">Read more.....</a></p>
			</div>
			<br>
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="YHXDT652BZDEG">
				<input type="image" src="/assets/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>
			</li>
		</ul>
	</div>	
	
	<!--Pop up for individual flowers-->
	<div id="words5" class="modal">
		<a class="close" href="#">Close</a>
		<img class="inset" src="/assets/ann2.jpg">
	
		<h2>Red heavenly rose handtied</h2>
		<p><i>
			Sending a a bouquet of beautiful roses says it all. 
			And you can relax in the knowledge that your Austin Flowers 
			florist will select the finest, large-headed mixed roses to 
			create a hand-tied bouquet guaranteed to take their breath away. 
		</i></p>
		
		<p>Price: €49.99</p>
		<div class="line">	
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="8YF966Z9YPNX4">
				<input type="image" src="/assets/addtocart-green-4.png" ;style='border:0' "float:left;" alt="Smiley face" height="60" width="110">
			</form>
		</div>
	</div>
	
	<div id="words6" class="modal">
		<a class="close" href="#">Close</a>
		<img class="inset" src="/assets/ann3.jpg" >
	
		<h2>Six stolen kisses pink</h2>
		<p><i>
			This chic, classic hand-tied showcases the very finest large 
			headed pink roses beautifully. The roses and gypsophila complement 
			each other perfectly, and the elegant wrap and ribbon add a sophisticated 
			finishing touch.
		</i></p>
		
		<p>Price: €49.99</p>
		<div class="line">	
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="PY2TXHD69YYY6">
				<input type="image" src="/assets/addtocart-green-4.png" ;style='border:0' "float:left;" alt="Smiley face" height="60" width="110">
			</form>
		</div>
	</div>
	
	<div id="words7" class="modal">
		<a class="close" href="#">Close</a>
		<img class="inset" src="/assets/ann12.jpg" >
	
		<h2>Six stolen kisses pink and red</h2>
		<p><i>
			This chic, classic hand-tied showcases the very finest large 
			headed pink and red roses beautifully. The roses and gypsophila complement 
			each other perfectly, and the elegant wrap and ribbon add a sophisticated 
			finishing touch.
		</i></p>
		
		<p>Price: €49.99</p>
		<div class="line">	
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="MREXLR65XUX4G">
				<input type="image" src="/assets/addtocart-green-4.png" ;style='border:0' "float:left;" alt="Smiley face" height="60" width="110">
			</form>
		</div>
	</div>
	
	<div id="words8" class="modal">
		<a class="close" href="#">Close</a>
		<img class="inset" src="/assets/ann4.jpg" >
	
		<h2>Six stolen kisses white</h2>
		<p><i>
			This chic, classic hand-tied showcases the very finest large 
			headed white roses beautifully. The roses and gypsophila complement 
			each other perfectly, and the elegant wrap and ribbon add a sophisticated 
			finishing touch.
		</i></p>
		
		<p>Price: €49.99</p>
		<div class="line">	
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="YHXDT652BZDEG">
				<input type="image" src="/assets/addtocart-green-4.png" ;style='border:0' "float:left;" alt="Smiley face" height="60" width="110">
			</form>
		</div>
	</div>
	
	<div class="purchase">
		<ul>
			<li><img id="d19" src="/assets/flow9.jpg" width="150" height="250">
			<div class="contenthover">
				<img src="/assets/austinflowerslogo.png" style='border:0' height="70" width="110">
				<h3><b>Red heavenly rose handtied with vase</b></h3>
				<p><a id = "readmore9" href="#" class="mybutton">Read more.....</a></p>
			</div>
			<br>
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="DPC4LB92S2VDW">
				<input type="image" src="/assets/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>
			</li>
			
			
			<li><img id="d20" src="/assets/flow10.jpg" alt="Smiley face" height="250" width="150">
			<div class="contenthover">
				<img src="/assets/austinflowerslogo.png" style='border:0' height="70" width="110">
				<h3><b>Six stolen kisses yellow</b></h3>
				<p><a id = "readmore10" href="#" class="mybutton">Read more.....</a></p>
			</div>
			<br>
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="YC83Y4STG49VQ">
				<input type="image" src="/assets/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>
			</li>
			
			<li><img id="d21" src="/assets/flow11.jpg" width="150" height="250">
			<div class="contenthover">
				<img src="/assets/austinflowerslogo.png" style='border:0' height="70" width="110">
				<h3><b>Vibrant handtied</b></h3>
				<p><a id = "readmore11" href="#" class="mybutton">Read more.....</a></p>
			</div>
			<br><form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="N3JHR5M3VXLXC">
				<input type="image" src="/assets/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>
			</li>
			
			
			<li><img id="d22" src="/assets/flow12.jpg" alt="Smiley face" height="250" width="150">
			<div class="contenthover">
				<img src="/assets/austinflowerslogo.png" style='border:0' height="70" width="110">
				<h3><b>White heavenly rose handtied</b></h3>
				<p><a id = "readmore12" href="#" class="mybutton">Read more.....</a></p>
			</div>
			<br>
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="C6PMRLZV89X8L">
				<input type="image" src="/assets/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>
			</li>
		</ul>
	</div>
	
	<!--Pop up for individual flowers-->
	<div id="words9" class="modal">
		<a class="close" href="#">Close</a>
		<img class="inset" src="/assets/ann1.jpg" >
	
		<h2>Red heavenly rose handtied with vase</h2>
		<p><i>
			Sending a a bouquet of beautiful roses says it all. And you can 
			relax in the knowledge that your Interflora florist will select 
			the finest, large-headed red roses create a hand-tied bouquet 
			guaranteed to take their breath away. 
		</i></p>
		
		<p>Price: €59.99</p>
		<div class="line">	
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="DPC4LB92S2VDW">
				<input type="image" src="/assets/addtocart-green-4.png" ;style='border:0' "float:left;" alt="Smiley face" height="60" width="110">
			</form>
		</div>
	</div>
	
	<div id="words10" class="modal">
		<a class="close" href="#">Close</a>
		<img class="inset" src="/assets/ann10.jpg" >
	
		<h2>Six stolen kisses yellow</h2>
		<p><i>
			This chic, classic hand-tied showcases the very finest large 
			headed yellow roses beautifully. The roses and gypsophila complement 
			each other perfectly, and the elegant wrap and ribbon add a sophisticated 
			finishing touch.
		</i></p>
		
		<p>Price: €49.99</p>
		<div class="line">	
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="YC83Y4STG49VQ">
				<input type="image" src="/assets/addtocart-green-4.png" ;style='border:0' "float:left;" alt="Smiley face" height="60" width="110">
			</form>
		</div>
	</div>
	
	<div id="words11" class="modal">
		<a class="close" href="#">Close</a>
		<img class="inset" src="/assets/ann11.jpg" >
	
		<h2>Vibrant handtied</h2>
		<p><i>
			Someone is going to love this gift. The kaleidoscope of 
			radiant colour ensures this striking hand-tied takes centre 
			stage right away. With roses, lilies, carnations, chrysanthemums 
			and so much more, this is certainly the right choice of gift to 
			make an impression.
		</i></p>
		
		<p>Price: €79.99</p>
		<div class="line">	
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="N3JHR5M3VXLXC">
				<input type="image" src="/assets/addtocart-green-4.png" ;style='border:0' "float:left;" alt="Smiley face" height="60" width="110">
			</form>
		</div>
	</div>
	
	<div id="words12" class="modal">
		<a class="close" href="#">Close</a>
		<img class="inset" src="/assets/ann6.jpg" >
	
		<h2>White heavenly rose handtied</h2>
		<p><i>
			Sending  a bouquet of beautiful roses says it all. 
			And you can relax in the knowledge that your Interflora 
			florist will select the finest, large-headed white roses 
			to create a hand-tied bouquet guaranteed to take their breath away.
		</i></p>
		
		<p>Price: €67.99</p>
		<div class="line">	
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="C6PMRLZV89X8L">
				<input type="image" src="/assets/addtocart-green-4.png" ;style='border:0' "float:left;" alt="Smiley face" height="60" width="110">
			</form>
		</div>
	</div>
