<body>
<div class="bouquet">
	
		<ul>
			<li><img id="d111" src="../assets/bouq1.jpg" width="150" height="250">
			<div class="contenthover">
			<img src="../assets/austinflowerslogo.png" style='border:0' height="70" width="110">
			<h3><b>Pink flower bouquet</b></h3>
			
			<p><a href="../readmepages/pinkbou.html" class="mybutton">Read more.....</a></p>
			</div>
			<br><form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="6VV2SNVQML6WE">
			<input type="image" src="../assets/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110"></li>
			
			<li><img id="d112" src="../assets/bouq2.jpg" alt="Smiley face" height="250" width="150">
			<div class="contenthover">
			
			<img src="../assets/austinflowerslogo.png" style='border:0' height="70" width="110">
			<h3><b>Blue flower bouquet</b></h3>
			<p><a href="../readmepages/bluebou.html" class="mybutton">Read more.....</a></p>
			</div>
			<br><form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="KKLZ2HLVLYG4J">
			<input type="image" src="../assets/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>

			</li>
			
			<li><img id="d113" src="../assets/bouq3.jpg" width="150" height="250">
			<div class="contenthover">
			
			<img src="../assets/austinflowerslogo.png" style='border:0' height="70" width="110">
			<h3><b>Vibrant flower bouquet</b></h3>
			<p><a href="../readmepages/vibrantbou.html" class="mybutton">Read more.....</a></p>
			</div>
			<br><form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="37Y8U6ZVY36QJ">
			<input type="image" src="../assets/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>
			</li>
			
			<li><img id="d114" src="../assets/bouq4.jpg" alt="Smiley face" height="250" width="150">
			<div class="contenthover">
			
			<img src="../assets/austinflowerslogo.png" style='border:0' height="70" width="110">
			<h3><b>Yellow heavenly handtied bouquet</b></h3>
			<p><a href="../readmepages/yellowbou.html" class="mybutton">Read more.....</a></p>
			</div>
			<br><form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="3KNM4HWFC5294">
			<input type="image" src="../assets/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>

			</li>
			
			
		</ul>
	</div>	

	<div class="bouquet">
		<ul>
			<li><img id="d115" src="../assets/bouq5.jpg" width="150" height="250">
			<div class="contenthover">
			
			<img src="../assets/austinflowerslogo.png" style='border:0' height="70" width="110">
			<h3><b>Sunshine handtied bouquet</b></h3>
			<p><a href="../readmepages/sunshine.html" class="mybutton">Read more.....</a></p>
			</div>
			<br><form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="KYCAM9K5FSCFA">
			<input type="image" src="../assets/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>
			</li>
			
			<li><img id="d116" src="../assets/bouq6.jpg" alt="Smiley face" height="250" width="150">
			<div class="contenthover">
			
			<img src="../assets/austinflowerslogo.png" style='border:0' height="70" width="110">
			<h3><b>Country garden handtied bouquet</b></h3>
			<p><a href="../readmepages/country.html" class="mybutton">Read more.....</a></p>
			</div>
			<br><form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="DBFA77Q44R42W">
			<input type="image" src="../assets/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>

			</li>
			
			<li><img id="d117" src="../assets/bouq7.jpg" width="150" height="250">
			<div class="contenthover">
			
			<img src="../assets/austinflowerslogo.png" style='border:0' height="70" width="110">
			<h3><b>Birthday garden handtied bouquet</b></h3>
			<p><a href="../readmepages/birthday.html" class="mybutton">Read more.....</a></p>
			</div>
			<br><form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="4BGSZ74TLX72G">
			<input type="image" src="../assets/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>
			</li>
			
			<li><img id="d118" src="../assets/bouq8.jpg" alt="Smiley face" height="250" width="150">
			<div class="contenthover">
			
			<img src="../assets/austinflowerslogo.png" style='border:0' height="70" width="110">
			<h3><b>Rose and lily handtied bouquet</b></h3>
			<p><a href="../readmepages/roselilybou.html" class="mybutton">Read more.....</a></p>
			</div>
			<br><form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="JFWFU5F9TNF5L">
			<input type="image" src="../assets/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>

			</li>
		</ul>
	</div>	
	
	<div class="bouquet">
		<ul>
			<li><img id="d119" src="../assets/bouq9.jpg" width="150" height="250">
			<div class="contenthover">
			
			<img src="../assets/austinflowerslogo.png" style='border:0' height="70" width="110">
			<h3><b>Red rose and lily handtied bouquet</b></h3>
			<p><a href="../readmepages/redroselily.html" class="mybutton">Read more.....</a></p>
			</div>
			<br><form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="6L26PLGQ45CQN">
			<input type="image" src="../assets/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>
			</li>
			
			<li><img id="d120" src="../assets/bouq10.jpg" alt="Smiley face" height="250" width="150">
			<div class="contenthover">
			
			<img src="../assets/austinflowerslogo.png" style='border:0' height="70" width="110">
			<h3><b>Wonderfully white handtied bouquet</b></h3>
			<p><a href="../readmepages/whitebou.html" class="mybutton">Read more.....</a></p>
			</div>
			<br><form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="FT3ZY9XMC9NU6">
			<input type="image" src="../assets/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>

			</li>
			
			<li><img id="d121" src="../assets/bouq11.jpg" width="150" height="250">
			<div class="contenthover">
			
			<img src="../assets/austinflowerslogo.png" style='border:0' height="70" width="110">
			<h3><b>12 long stem rose handtied bouquet</b></h3>
			<p><a href="../readmepages/12.html" class="mybutton">Read more.....</a></p>
			</div>
			<br><form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="TK657P3EUH4BY">
			<input type="image" src="../assets/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>
			</li>
			
			<li><img id="d122" src="../assets/bouq12.jpg" alt="Smiley face" height="250" width="150">
			<div class="contenthover">
			
			<img src="../assets/austinflowerslogo.png" style='border:0' height="70" width="110">
			<h3><b>24 long stem rose handtied bouquet</b></h3>
			<p><a href="../readmepages/24.html" class="mybutton">Read more.....</a></p>
			</div>
			<br><form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="72GPTKMFLSSY8">
			<input type="image" src="../assets/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>

			</li>
		</ul>
	</div>
</body>
