	<div class="purchase">
	
		<ul>
			<li><img id="d111" src="../images/bouq1.jpg" width="150" height="250">
			<div class="contenthover">
				<img src="../images/austinflowerslogo.png" style='border:0' height="70" width="110">
				<h3><b>Pink flower bouquet</b></h3>
				<p><a id="readmore1" href='#' class="mybutton">Read more.....</a></p>
			</div>
			<br>
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="6VV2SNVQML6WE">
				<input type="image" src="../images/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</li>
			
			
			<li><img id="d112" src="../images/bouq2.jpg" alt="Smiley face" height="250" width="150">
			<div class="contenthover">
				<img src="../images/austinflowerslogo.png" style='border:0' height="70" width="110">
				<h3><b>Blue flower bouquet</b></h3>
				<p><a id="readmore2" href="#" class="mybutton">Read more.....</a></p>
			</div>
			<br>
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="KKLZ2HLVLYG4J">
				<input type="image" src="../images/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>
			</li>
			
			
			<li><img id="d113" src="../images/bouq3.jpg" width="150" height="250">
			<div class="contenthover">
				<img src="../images/austinflowerslogo.png" style='border:0' height="70" width="110">
				<h3><b>Vibrant flower bouquet</b></h3>
				<p><a id="readmore3" href="#" class="mybutton">Read more.....</a></p>
			</div>
			<br>
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="37Y8U6ZVY36QJ">
				<input type="image" src="../images/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>
			</li>
			
			
			<li><img id="d114" src="../images/bouq4.jpg" alt="Smiley face" height="250" width="150">
			<div class="contenthover">
				<img src="../images/austinflowerslogo.png" style='border:0' height="70" width="110">
				<h3><b>Yellow heavenly handtied bouquet</b></h3>
				<p><a id="readmore4" href="#" class="mybutton">Read more.....</a></p>
			</div>
			<br>
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="3KNM4HWFC5294">
				<input type="image" src="../images/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>
			</li>
		</ul>
	</div>	
				<!--Pop up for individual flowers-->
				<div id="words1" class="modal">
					<a class="close" href="#">Close</a>
					<img class="inset" src="../images/bou1.jpg">
				
					<h2>Pink flower bouquet</h2>
					<p><i>
						This vase full of pretty pink and white flowers really 
						is the perfect gift. It’s ready to display, easy to look 
						after and is full of colour and texture. The single large 
						headed rose takes centre stage and is beautifully complemented 
						with a mix of favourite flowers.
					</i></p>
					<p>Price: €39.99</p>
					
					<div class="line">	
					<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="6VV2SNVQML6WE">
						<input type="image" src="../images/addtocart-green-4.png" ;style='border:0' "float:left;" alt="Smiley face" height="60" width="110">
					</form>
					</div>
				</div>
				
				<div id="words2" class="modal">	
					<a class="close" href="#">Close</a>
					<img class="inset" src="../images/bou6.jpg">
				
					<h2>Blue flower bouquet</h2>
					<p><i>
						Fresh Purple and ivory shades mingle beautifully in this 
						uplifting gift of flowers. It’s a perfect way to brighten 
						someone’s day – and the freesias  have a gentle scent which 
						only adds the pleasure of this gift.
					</i></p>
					<p>Price: €39.99</p>
					
					<div class="line">	
					<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="KKLZ2HLVLYG4J">
						<input type="image" src="../images/addtocart-green-4.png" ;style='border:0' "float:left;" alt="Smiley face" height="60" width="110">
					</form>
					</div>
				</div>
				
				<div id="words3" class="modal">
					<a class="close" href="#">Close</a>
					<img class="inset" src="../images/bou2.jpg">
	
					<h2>Vibrant flower bouquet</h2>
					<p><i>
						This is a gift of flowers that is simply bursting with 
						glorious colour. There are hot pink germini blooms,  
						chrysanthemums, a sumptuous rose and not forgetting the 
						bright orange lilies with their dark centres. With so much 
						to enjoy, it’s difficult to know what to admire first.
					</i></p>
					<p>Price: €49.99</p>
					
					<div class="line">	
					<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="37Y8U6ZVY36QJ">
						<input type="image" src="../images/addtocart-green-4.png" ;style='border:0' "float:left;" alt="Smiley face" height="60" width="110">
					</form>
					</div>
				</div>
				
				<div id="words4" class="modal">
					<a class="close" href="#">Close</a>
					<img class="inset" src="../images/bou9.jpg">
	
					<h2>Yellow heavenly handtied bouquet</h2>
					<p><i>
						Sending a a bouquet of beautiful roses says it all. 
						And you can relax in the knowledge that your Austin Flowers 
						florist will select the finest, large-headed yellow roses 
						to create a hand-tied bouquet guaranteed to take their breath away.
					</i></p>
					<p>Price: €49.99</p>
					
					<div class="line">	
					<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="3KNM4HWFC5294">
						<input type="image" src="../images/addtocart-green-4.png" ;style='border:0' "float:left;" alt="Smiley face" height="60" width="110">
					</form>
					</div>
				</div>

	<div class="purchase">
		<ul>
			<li><img id="d115" src="../images/bouq5.jpg" width="150" height="250">
			<div class="contenthover">
				<img src="../images/austinflowerslogo.png" style='border:0' height="70" width="110">
				<h3><b>Sunshine handtied bouquet</b></h3>
				<p><a id="readmore5" href="#" class="mybutton">Read more.....</a></p>
			</div>
			<br>
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="KYCAM9K5FSCFA">
				<input type="image" src="../images/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>
			</li>
			
			
			<li><img id="d116" src="../images/bouq6.jpg" alt="Smiley face" height="250" width="150">
			<div class="contenthover">
				<img src="../images/austinflowerslogo.png" style='border:0' height="70" width="110">
				<h3><b>Country garden handtied bouquet</b></h3>
				<p><a id="readmore6" href="#" class="mybutton">Read more.....</a></p>
			</div>
			<br>
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="DBFA77Q44R42W">
				<input type="image" src="../images/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>
			</li>
			
			
			<li><img id="d117" src="../images/bouq7.jpg" width="150" height="250">
			<div class="contenthover">
				<img src="../images/austinflowerslogo.png" style='border:0' height="70" width="110">
				<h3><b>Birthday garden handtied bouquet</b></h3>
				<p><a id="readmore7" href="#" class="mybutton">Read more.....</a></p>
			</div>
			<br>
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="4BGSZ74TLX72G">
				<input type="image" src="../images/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>
			</li>
			
			
			<li><img id="d118" src="../images/bouq8.jpg" alt="Smiley face" height="250" width="150">
			<div class="contenthover">
				<img src="../images/austinflowerslogo.png" style='border:0' height="70" width="110">
				<h3><b>Rose and lily handtied bouquet</b></h3>
				<p><a id="readmore8" href="#" class="mybutton">Read more.....</a></p>
			</div>
			<br>
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="JFWFU5F9TNF5L">
				<input type="image" src="../images/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>
			</li>
		</ul>
	</div>	
	
				<!--Pop up for individual flowers-->
				<div id="words5" class="modal">
					<a class="close" href="#">Close</a>
					<img class="inset" src="../images/bou10.jpg">
	
					<h2>Sunshine handtied bouquet</h2>
					<p><i>
						This stunning Hand-tied will bring the sunshine to any home . 
						A perfect gift that includes germini, beautiful yellow roses 
						and gypsophila.
					</i></p>
					<p>Price: €59.99</p>
					
					<div class="line">	
					<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="KYCAM9K5FSCFA">
						<input type="image" src="../images/addtocart-green-4.png" ;style='border:0' "float:left;" alt="Smiley face" height="60" width="110">
					</form>
					</div>
				</div>
				
				<div id="words6" class="modal">
					<a class="close" href="#">Close</a>
					<img class="inset" src="../images/bou7.jpg">
	
					<h2>Country garden handtied bouquet</h2>
					<p><i>
						This glorious hand-tied bouquet is wonderfully feminine 
						and exudes a sense of timeless elegance and beauty. We 
						love the array of textures plus the shades of soft pink, 
						fresh white and cool lilac, each adding something new to 
						admire. An irresistible gift. 
					</i></p>
					<p>Price: €59.99</p>
					
					<div class="line">	
					<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="DBFA77Q44R42W">
						<input type="image" src="../images/addtocart-green-4.png" ;style='border:0' "float:left;" alt="Smiley face" height="60" width="110">
					</form>
					</div>
				</div>
				
				<div id="words7" class="modal">
					<a class="close" href="#">Close</a>
					<img class="inset" src="../images/bou11.jpg">

					<h2>Birthday garden handtied bouquet</h2>
					<p><i>
						This glorious hand-tied bouquet is wonderfully feminine 
						and exudes a sense of timeless elegance and beauty. We 
						love the array of textures plus the shades of soft pink, 
						fresh white and cool lilac, each adding something new to 
						admire. An irresistible gift. 
					</i></p>
					<p>Price: €59.99</p>
					
					<div class="line">	
					<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="4BGSZ74TLX72G">
						<input type="image" src="../images/addtocart-green-4.png" ;style='border:0' "float:left;" alt="Smiley face" height="60" width="110">
					</form>
					</div>
				</div>
				
				<div id="words8" class="modal">
					<a class="close" href="#">Close</a>
					<img class="inset" src="../images/bou5.jpg">
	
					<h2>Rose and lily handtied bouquet</h2>
					<p><i>
						Make any occasion special by sending this truly spectacular 
						combination of large-headed roses and elegant Oriental lilies. 
						It’s a popular choice too - these flowers are firm favourites, 
						and work so beautifully together. Simple, and very stylish, 
						this hand-tied bouquet is a fabulous gift.
					</i></p>
					<p>Price: €79.99</p>
					
					<div class="line">	
					<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="JFWFU5F9TNF5L">
						<input type="image" src="../images/addtocart-green-4.png" ;style='border:0' "float:left;" alt="Smiley face" height="60" width="110">
					</form>
					</div>
				</div>
	
	<div class="purchase">
		<ul>
			<li><img id="d119" src="../images/bouq9.jpg" width="150" height="250">
			<div class="contenthover">
				<img src="../images/austinflowerslogo.png" style='border:0' height="70" width="110">
				<h3><b>Red rose and lily handtied bouquet</b></h3>
				<p><a id="readmore9" href="#" class="mybutton">Read more.....</a></p>
			</div>
			<br>
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="6L26PLGQ45CQN">
				<input type="image" src="../images/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>
			</li>
			
			
			<li><img id="d120" src="../images/bouq10.jpg" alt="Smiley face" height="250" width="150">
			<div class="contenthover">
				<img src="../images/austinflowerslogo.png" style='border:0' height="70" width="110">
				<h3><b>Wonderfully white handtied bouquet</b></h3>
				<p><a id="readmore10" href="#" class="mybutton">Read more.....</a></p>
			</div>
			<br>
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="FT3ZY9XMC9NU6">
				<input type="image" src="../images/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>
			</li>
			
			
			<li><img id="d121" src="../images/bouq11.jpg" width="150" height="250">
			<div class="contenthover">		<img src="../images/austinflowerslogo.png" style='border:0' height="70" width="110">
					<h3><b>12 long stem rose handtied bouquet</b></h3>
					<p><a id="readmore11" id="readmore" href="#" class="mybutton">Read more.....</a></p>
			</div>
			<br>
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="TK657P3EUH4BY">
					<input type="image" src="../images/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>
			</li>
			
			<li><img id="d122" src="../images/bouq12.jpg" alt="Smiley face" height="250" width="150">
			<div class="contenthover">
				<img src="../images/austinflowerslogo.png" style='border:0' height="70" width="110">
				<h3><b>24 long stem rose handtied bouquet</b></h3>
				<p><a id="readmore12" href="#" class="mybutton">Read more.....</a></p>
			</div>
			<br>
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="72GPTKMFLSSY8">
				<input type="image" src="../images/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>
			</li>
		</ul>
	</div>
				<!--Pop up for individual flowers-->
				<div id="words9" class="modal">
					<a class="close" href="#">Close</a>
					<img class="inset" src="../images/bou3.jpg">
		
					<h2>Red rose and lily handtied bouquet</h2>
					<p><i>
						This is a very elegant, contemporary hand-tied bouquet. Groups 
						of crisp red flowers are beautifully framed by loops of steel 
						grass. It's simple in colour, but intricate in design, and the 
						lilies give a sweet scent to the bouquet.
					</i></p>
					<p>Price: €79.99</p>
				
					<div class="line">	
					<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="6L26PLGQ45CQN">
						<input type="image" src="../images/addtocart-green-4.png" ;style='border:0' "float:left;" alt="Smiley face" height="60" width="110">
					</form>
					</div>
				</div>
				
				<div id="words10" class="modal">
					<a class="close" href="#">Close</a>
					<img class="inset" src="../images/bou4.jpg">
	
					<h2>Wonderfully white handtied bouquet</h2>
					<p><i>
						This is a very elegant, contemporary hand-tied bouquet. Groups 
						of crisp white flowers are beautifully framed by loops of steel 
						grass. It's simple in colour, but intricate in design, and the 
						lilies give a sweet scent to the bouquet.
					</i></p>
					<p>Price: €89.99</p>
					
					<div class="line">	
					<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="FT3ZY9XMC9NU6">
						<input type="image" src="../images/addtocart-green-4.png" ;style='border:0' "float:left;" alt="Smiley face" height="60" width="110">
					</form>
					</div>
				</div>
				
				<div id="words11" class="modal">
					<a class="close" href="#">Close</a>
					<img class="inset" src="../images/bou8.jpg">
	
					<h2>12 long stem rose handtied bouquet</h2>
					<p><i>
						These Grand Prix roses are the ultimate in quality and 
						style with their velvety petals, long, elegant stems and 
						the deepest, dramatic shade of red. This is a statement 
						bouquet – the perfect choice if you’re keen to make a lasting 
						impression.
					</i></p>
					<p>Price: €75.99</p>
					
					<div class="line">	
					<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="TK657P3EUH4BY">
						<input type="image" src="../images/addtocart-green-4.png" ;style='border:0' "float:left;" alt="Smiley face" height="60" width="110">
					</form>
					</div>
				</div>
				
				<div id="words12" class="modal">
					<a class="close" href="#">Close</a>
					<img class="inset" src="../images/bou12.jpg">
	
					<h2>24 long stem rose handtied bouquet</h2>
					<p><i>
						These Grand Prix roses are the ultimate in quality and 
						style with their velvety petals, long, elegant stems and 
						the deepest, dramatic shade of red. This is a statement 
						bouquet – the perfect choice if you’re keen to make a lasting 
						impression.
					</i></p>
					<p>Price: €99.99</p>
				
					<div class="line">	
					<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="72GPTKMFLSSY8">
						<input type="image" src="../images/addtocart-green-4.png" ;style='border:0' "float:left;" alt="Smiley face" height="60" width="110">
					</form>
					</div>
				</div>
	
