<div class="funeral">
	
		<ul>
			<li><img id="d1" src="../assets/funeralb12.jpg" width="150" height="250">
			<div class="contenthover">
			<img src="../assets/austinflowerslogo.png" style='border:0' height="70" width="110">
			<h3><b>Red rose service arrangement</b></h3>
			
			<p><a href="../readmepages/redrose.html" class="mybutton">Read more.....</a></p>
			</div>
			<br><form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="TDQMCTT33ZBBJ">
			<input type="image" src="../assets/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>
			</li>
			
			<li><img id="d2" src="../assets/funeralb11.jpg" alt="Smiley face" height="250" width="150">
			<div class="contenthover">
			
			<img src="../assets/austinflowerslogo.png" style='border:0' height="70" width="110">
			<h3><b>Butterfly tribute</b></h3>
			<p><a href="../readmepages/butterflytribute.html" class="mybutton">Read more.....</a></p>
			</div>
			<br><form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="FLW3F6FBYHX72">
			<input type="image" src="../assets/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>

			</li>
			
			<li><img id="d3" src="../assets/funeralb10.jpg" width="150" height="250">
			<div class="contenthover">
			
			<img src="../assets/austinflowerslogo.png" style='border:0' height="70" width="110">
			<h3><b>Classic wreath red and green</b></h3>
			<p><a href="../readmepages/classicwreath.html" class="mybutton">Read more.....</a></p>
			</div>
			<br><form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="B34MGZWMWVA22">
			<input type="image" src="../assets/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>
			</li>
			
			<li><img id="d4" src="../assets/funeralb9.jpg" alt="Smiley face" height="250" width="150">
			<div class="contenthover">
			
			<img src="../assets/austinflowerslogo.png" style='border:0' height="70" width="110">
			<h3><b>Classic posy vibrant</b></h3>
			<p><a href="../readmepages/classicposy.html" class="mybutton">Read more.....</a></p>
			</div>
			<br><form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="BSEHC5Q5ATFRL">
			<input type="image" src="../assets/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>

			</li>
			
			
		</ul>
	</div>	
		
		
	<div class="funeral">
		<ul>
			<li><img id="d5" src="../assets/funeralb8.jpg" width="150" height="250">
			<div class="contenthover">
			
			<img src="../assets/austinflowerslogo.png" style='border:0' height="70" width="110">
			<h3><b>Mixed basket pink and lilac</b></h3>
			<p><a href="../readmepages/mixedbasket.html" class="mybutton">Read more.....</a></p>
			</div>
			<br><form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="9Q3MSGARRZGN6">
			<input type="image" src="../assets/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>
			</li>
			
			<li><img id="d6" src="../assets/funeralb7.jpg" alt="Smiley face" height="250" width="150">
			<div class="contenthover">
			
			<img src="assets/austinflowerslogo.png" style='border:0' height="70" width="110">
			<h3><b>Simple rose sheaf pink</b></h3>
			<p><a href="../readmepages/sheafpink.html" class="mybutton">Read more.....</a></p>
			</div>
			<br><form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="HZ8P9C9NFWLSN">
			<input type="image" src="../assets/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>

			</li>
			
			<li><img id="d7" src="../assets/funeralb6.jpg" width="150" height="250">
			<div class="contenthover">
			
			<img src="../assets/austinflowerslogo.png" style='border:0' height="70" width="110">
			<h3><b>Mixed rose heart pink and yellow</b></h3>
			<p><a href="../readmepages/heart.html" class="mybutton">Read more.....</a></p>
			</div>
			<br><form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="E3ZEALF9UCNXL">
			<input type="image" src="../assets/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>
			</li>
						
			<li><img id="d8" src="../assets/funeralb5.jpg" alt="Smiley face" height="250" width="150">
			<div class="contenthover">
			
			<img src="../assets/austinflowerslogo.png" style='border:0' height="70" width="110">
			<h3><b>Rose and lily wreath vibrant</b></h3>
			<p><a href="../readmepages/roselilywreath.html" class="mybutton">Read more.....</a></p>
			</div>
			<br><form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="U69PLDQYJHVT4">
			<input type="image" src="../assets/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>

			</li>
		</ul>
	</div>	
	
	<div class="funeral">
		<ul>
			<li><img id="d9" src="../assets/funeralb4.jpg" width="150" height="250">
			<div class="contenthover">
			
			<img src="../assets/austinflowerslogo.png" style='border:0' height="70" width="110">
			<h3><b>Simple rose sheaf yellow</b></h3>
			<p><a href="../readmepages/sheafyellow.html" class="mybutton">Read more.....</a></p>
			</div>
			<br><form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="B549RU9C3DJF6">
			<input type="image" src="../assets/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>
			</li>
						
			<li><img id="d10" src="../assets/funeralb3.jpg" alt="Smiley face" height="250" width="150">
			<div class="contenthover">
			
			<img src="../assets/austinflowerslogo.png" style='border:0' height="70" width="110">
			<h3><b>Simple rose sheaf red</b></h3>
			<p><a href="../readmepages/sheafred.html" class="mybutton">Read more.....</a></p>
			</div>
			<br><form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="5NKTCKWNKQH8S">
			<input type="image" src="../assets/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>

			</li>
			
			<li><img id="d11" src="../assets/funeralb2.jpg" width="150" height="250">
			<div class="contenthover">
			
			<img src="../assets/austinflowerslogo.png" style='border:0' height="70" width="110">
			<h3><b>Classic wreath blue and white</b></h3>
			<p><a href="../readmepages/bluewreath.html" class="mybutton">Read more.....</a></p>
			</div>
			<br><form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="GD3MKCQVDV52N">
			<input type="image" src="../assets/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>
			</li>
						
			<li><img id="d12" src="../assets/funeralb1.jpg" alt="Smiley face" height="250" width="150">
			<div class="contenthover">
			
			<img src="../assets/austinflowerslogo.png" style='border:0' height="70" width="110">
			<h3><b>Red rose and cornation heart</b></h3>
			<p><a href="../readmepages/heartred.html" class="mybutton">Read more.....</a></p>
			</div>
			<br><form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="C2AND5MY9A2FJ">
			<input type="image" src="../assets/addtocart-green-4.png" class='btn-cart' style='border:0' alt="Smiley face" height="60" width="110">
			</form>

			</li>
		</ul>
	</div>
