<!--Code Tutorial by Karim El Husseiny - Build an Online Store
http://www.sitepoint.com/build-online-store-rails/-->
<div class="column">
	<h1>Anniversary</h1>
	<ul>
		<% @interface.where(category: "anniversary").each do |product| %>
			<li class="medium-3 columns">
					<%= link_to interface_path(product.id), class: "flowers" do %>
           				<%= image_tag product.flowers %>
       				<% end %>
       				<!--#Reference: Agile Web Development with Rails 4
						#Sam Ruby, Dave Thomas, David Heinemeier Hansson
						#Chapter 9: Cart Creation -->
       				<%= button_to 'Add To Cart', order_items_path(product_id: product),
       					remote:true, :class => "cartButton" %>
			</li>
			
		<% end %>
	</ul>
</div>

<div style="clear:both;"></div>	