/*CSS for the flower pages : bouquet anniversary funeral */
.column{
	padding-top: 40px;
 	width: 960px;
 	height: 1000px;
 	margin-left: 160px;
 	font-family:Lato;
 	ul {
	list-style:none;
	}
	li {
 	height: 250px;
 	width: 150px;
	margin: 0 20px 50px;
	}
	h1 {
		text-align:center;
	}
}

.more {
	list-style: none;
	padding-top: 20px;
	padding-bottom: 15px;
	margin:0;
	font-size: 20px;
	text-align: center;
	.big_image {
		border: 10px solid pink;
	}
}

#description {
	margin: 10px 350px;
	text-align: justify;
}