/*CSS for the flower pages : bouquet anniversary funeral */
.column{
	padding-top: 40px;
 	width: 960px;
 	height: 1000px;
 	margin-left: 160px;
 	font-family:Lato;
 	ul {
	list-style:none;
	}
	li {
 	height: 250px;
 	width: 150px;
	margin: 0 20px 50px;
	}
	h1 {
		text-align:center;
	}
}
 
.cart ul {
	  list-style:none;
}
  
.contenthover { 
  	padding:20px 20px 10px 20px;
}

.contenthover, .contenthover h3, contenthover a { 
 	color:#fff; 
}
 
.contenthover h3,.contenthover p { 
 	font-size: 12px; 
 	font-family: "Lato"; 
 	float:centre; 
 	color:pink; 
 	margin:0 0 10px 0; 
 	line-height:1.4em; 
 	padding:0;
}

.contenthover a.mybutton { 
 	display:block; 
 	float:centre;
 	padding:5px 10px; 
 	background:#fff; 
 	color:#000000;
 	-moz-border-radius: 4px;
 	-webkit-border-radius: 4px;
 	border-radius: 4px;
 }
 
.contenthover a.mybutton:hover {
 	background:#ca4577;
 }

#words1,#words2,#words3,#words4,
#words5,#words6,#words7,#words8,
#words9,#words10,#words11,#words12{
	color:white;
	font-size: 20px;
	text-align: center;
	font-family: "Lato";
}

p {
	margin: 10px 90px;
}

.inset {
	margin: 10px auto;
	width:300px;
	height:300px;
	border-style: inset;
	border-width: 10px;
	border-color: pink;
}