<!--Code Tutorial by Karim El Husseiny - Build an Online Store
http://www.sitepoint.com/build-online-store-rails/-->
<div class="column">
	<h1>Bouquets</h1>
	<ul>
		<% @products.where(category: "bouquet").each do |product| %>
			<li class="medium-3 columns">
					<%= link_to product_path(product.id), class: "flowers" do %>
           				<%= image_tag product.flowers %>
       				<% end %>
       				<a class ="cartButton" href = "/cart/<%= product.id %>">Add to Cart</a>
			</li>
		<% end %>
	</ul>
</div>

<div style="clear:both;"></div>	
		