<!--html for footer that appears on all pages-->

<footer>
			<div id="footerPic">
					<img src="../assets/austin.png">
				</div>

				<div class="columns">
						<h3>Connect With Us</h3>
						<a href="https://www.facebook.com/Austin-Flowers-178449139192413/" target="_blank">
							<i class="fa fa-facebook"></i>
						</a>
						<a href="https://twitter.com/yeahhhhh_baby" target="_blank">
							<i class="fa fa-twitter"></i>
						</a>
				</div>

				<div class="columns">
					<h3> Links</h3>
					<ul>
						<li><%= link_to "Terms and Conditions", terms_path %></li>
						<li><a href="#">Site Map</a></li>
					</ul>
				</div>

				<div class="columns">
					<h3> The Team</h3>
					<ul>
						<li>Aisling</li>
						<li>Joe</li>
						<li>Tom</li>
					</ul>
				</div>

		</footer>
